@media screen and (min-width: 320px) and (max-width: 374px){
    .tittle{
        width: 90%
    }

    .tittle h1{
        font-size: 29px;
    }

    .animal-general{
        display: grid;
        grid-template-rows: repeat(2,1fr);
        height: 840px;
    }

    .animal-information{
        margin-bottom: 10px;
        margin-left: 0px;
        width: 280px;
    }

    .animal-detailed{
        grid-row: 2/3;
        margin-top: 10px;
        width: 280px;
    }
    .family-tree{
        max-width: 320px;
    }

    #back{
        max-width: 320px;
    }

    .family-tree .tittle{
        width: 60%;
        height: 60px;
    }

    .family-tree .tittle h2{
        font-size: 20px;
        text-align: center;
        
    }

    .body-arvore{
        max-width: 320px;
    }

    .body-arvore .image-area{
        width: 120px;
        height: 200px;
    }

    #wrapper{
        overflow: scroll;
        margin-left: 10px;
        width: 374px;
    }

    #back{
        max-width: 374px;
        margin-left: -130px;
    }

    #wrapper .label{
        max-width: 120px;
        min-width: 120px;
        line-height: 8px;
        font-size: 15px;
        
    }

    #wrapper .branch{
       margin-left: 50px;
    }

    #wrapper .entry{
        min-height: 25px;
    }

    .a1{
        margin-left: -30px;
    }

    .a2{
        margin-left: 40px;
    }

    .a3{
        margin-left: 120px;
    }

    .a4{
        margin-left: 200px;
    }

    #wrapper .masc.a1:before{
        height: 170px;
        rotate: 55deg;
        margin-top: 90px;
        
    }

    #wrapper .masc.a2::before{
        height: 95px;
        rotate: 45deg;
        margin-left: -160px;
    }

    #wrapper .masc.a3::before{
        rotate: 65deg;
        margin-left: -170px;
        margin-top: 30px;
    }

    #wrapper .masc.a4::before{
        rotate: 75deg;
        margin-left: -160px;
        margin-top: 0px;
    }

    #wrapper .fem.a1::before{
        height: 170px;
        rotate: -55deg;
        margin-top: -90px;
    }

    #wrapper .fem.a2::before{
        height: -95px;
        rotate: -45deg;
        margin-left: -160px;
    }

    #wrapper .fem.a3::before{
        rotate: -65deg;
        margin-left: -170px;
        margin-top: -30px;
    }

    #wrapper .fem.a4::before{
        rotate: -75deg;
        margin-left: -160px;
        margin-top: 0px;
    }


}

@media screen and (min-width: 375px) and (max-width: 424px){
    .tittle{
        width: 80%
    }

    .tittle h1{
        font-size: 30px;
    }

    .animal-general{
        display: grid;
        grid-template-rows: repeat(2,1fr);
        height: 840px;
      
    }

    .animal-detailed{
        grid-row: 2/3;
        margin-top: 10px;
    }

    .animal-information{
        margin-bottom: 10px;
        margin-left: 0px;
    }

    .family-tree{
        max-width: 425px;
    }

    #back{
        max-width: 424px;
    }

    .family-tree .tittle{
        width: 60%;
        height: 70px;
    }

    .family-tree .tittle h2{
        font-size: 26px;
        text-align: center;
        
    }

    .body-arvore{
        max-width: 374px;
    }

    .body-arvore .image-area{
        width: 120px;
        height: 200px;
    }

    #wrapper{
        overflow: scroll;
        margin-left: 10px;
        width: 374px;
    }

    #back{
        max-width: 374px;
        margin-left: -130px;
    }

    #wrapper .label{
        max-width: 120px;
        min-width: 120px;
        line-height: 8px;
        font-size: 15px;
        
    }

    #wrapper .branch{
       margin-left: 50px;
    }

    #wrapper .entry{
        min-height: 25px;
    }

    .a1{
        margin-left: -30px;
    }

    .a2{
        margin-left: 40px;
    }

    .a3{
        margin-left: 120px;
    }

    .a4{
        margin-left: 200px;
    }

    #wrapper .masc.a1:before{
        height: 170px;
        rotate: 55deg;
        margin-top: 90px;
        
    }

    #wrapper .masc.a2::before{
        height: 95px;
        rotate: 45deg;
        margin-left: -160px;
    }

    #wrapper .masc.a3::before{
        rotate: 65deg;
        margin-left: -170px;
        margin-top: 30px;
    }

    #wrapper .masc.a4::before{
        rotate: 75deg;
        margin-left: -160px;
        margin-top: 0px;
    }

    #wrapper .fem.a1::before{
        height: 170px;
        rotate: -55deg;
        margin-top: -90px;
    }

    #wrapper .fem.a2::before{
        height: -95px;
        rotate: -45deg;
        margin-left: -160px;
    }

    #wrapper .fem.a3::before{
        rotate: -65deg;
        margin-left: -170px;
        margin-top: -30px;
    }

    #wrapper .fem.a4::before{
        rotate: -75deg;
        margin-left: -160px;
        margin-top: 0px;
    }




}
@media screen and (min-width: 425px) and (max-width: 765px){
    
    .tittle{
        width: 90%
       
    }
    .tittle h1{
        font-size: 40px;
    }

    .animal-general{
        display: grid;
        grid-template-rows: repeat(2,1fr);
        height: 840px;
      
    }

    .animal-detailed{
        grid-row: 2/3;
        margin-top: 10px;
    }

    .animal-information{
        margin-bottom: 10px;
        margin-left: 0px;
    }

    .family-tree{
        max-width: 425px;
    }

    #back{
        max-width: 424px;
    }

    .family-tree .tittle{
        width: 60%;
        height: 75px;
    }

    .family-tree .tittle h2{
        font-size: 30px;
        text-align: center;
        
    }

    .body-arvore{
        max-width: 424px;
    }

    .body-arvore .image-area{
        width: 120px;
        height: 200px;
    }

    #wrapper{
        overflow: scroll;
        margin-left: 10px;
        width: 424px;
    }

    #back{
        max-width: 424px;
    }

    #wrapper .label{
        max-width: 120px;
        min-width: 120px;
        line-height: 8px;
        font-size: 15px;
        
    }

    #wrapper .branch{
       margin-left: 50px;
    }

    #wrapper .entry{
        min-height: 25px;
    }

    .a1{
        margin-left: -30px;
    }

    .a2{
        margin-left: 40px;
    }

    .a3{
        margin-left: 120px;
    }

    .a4{
        margin-left: 200px;
    }

    #wrapper .masc.a1:before{
        height: 170px;
        rotate: 55deg;
        margin-top: 90px;
        
    }

    #wrapper .masc.a2::before{
        height: 95px;
        rotate: 45deg;
        margin-left: -160px;
    }

    #wrapper .masc.a3::before{
        rotate: 65deg;
        margin-left: -170px;
        margin-top: 30px;
    }

    #wrapper .masc.a4::before{
        rotate: 75deg;
        margin-left: -160px;
        margin-top: 0px;
    }

    #wrapper .fem.a1::before{
        height: 170px;
        rotate: -55deg;
        margin-top: -90px;
    }

    #wrapper .fem.a2::before{
        height: -95px;
        rotate: -45deg;
        margin-left: -160px;
    }

    #wrapper .fem.a3::before{
        rotate: -65deg;
        margin-left: -170px;
        margin-top: -30px;
    }

    #wrapper .fem.a4::before{
        rotate: -75deg;
        margin-left: -160px;
        margin-top: 0px;
    }

    
   


}
@media screen and (min-width: 768px) and (max-width: 900px){
    .header{
        height: 140px;
    }
    
    .tittle{
        width: 80%;
       
    }
    .tittle h1{
        font-size: 60px;
        letter-spacing: 1px;
    }

    .animal-general{
        display: grid;
        grid-template-rows: repeat(2,1fr);
        height: 840px;
    }

    .animal-detailed{
        grid-row: 2/3;
        margin-top: 10px;
    }

    .animal-information{
        margin-bottom: 10px;
        margin-left: 0px;
    }

    .family-tree .tittle{
        width: 40%;
        height: 75px;
    }

    .family-tree .tittle h2{
        font-size: 30px;
        text-align: center;
        
    }

    .body-arvore{
        margin-top: 40px;
        max-width: 767px;
    }
    #wrapper{
        overflow: scroll;
        margin-left: 10px;
    }

    #back{
        max-width: 767px;
    }

    #wrapper .branch{
       margin-left: 150px;
    }

    #wrapper .label{
        line-height: 9px;
    }

    #wrapper .entry{
        min-height: 25px;
    }

   
}
@media screen and (min-width: 1024px) and (max-width: 1365px){
    .tittle{
        width: 75%;
        height: 90%;
        margin-left: -50px;
    }

    .tittle h1{
        font-size: 56px;
        letter-spacing: 0px;
    }

    .animal-general{
        margin-left: -50px;
    }

    .family-tree{
        margin-left: -10px;
        max-width: 1020px;
        
    }

    .family-tree .tittle{
        width: 40%;
    }

    .family-tree .tittle h2{
        font-size: 28px;
    }

    .body-arvore{
        width: 700px;
    }

    #wrapper .label{
        min-width: 150px;
        max-width: 150px;
    }

    #wrapper .branch{
        margin-left: 140px;
    }
}


@media screen and (min-width: 1440px) and (max-width: 1919px){
    .tittle{
        width: 65%;
    }

    .tittle h1{
        font-size: 69px;
        letter-spacing: 0px;
    }

    .family-tree .tittle{
        width: 30%;
    }

    .family-tree .tittle h2{
        font-size: 30px;
    }
}

@media screen and (min-width: 1920px) and (max-width:2559px) {
    .tittle{
        width: 50%;
    }

    .tittle h1{
        font-size: 70px;
        letter-spacing: 0px;
    }

    .family-tree .tittle{
        width: 25%;
    }

    .family-tree .tittle h2{
        font-size: 32px;
    }
}

@media screen and (min-width: 2560px){
    .tittle{
        width: 40%;
    }

    .tittle h1{
        font-size: 75px;
        letter-spacing: 0px;
    }

    .family-tree .tittle{
        width: 18%;
    }
}