*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 98vw;
    display: flex;
    justify-content: center;
    height: 90px;  
}
.tittle{
    text-align: center;
    height: inherit;
    width: 75%;
    background-color: #30525b;
    margin-top: 5px;
    border-radius: 6px;
    padding: 5px;
}
.tittle h1{
    text-transform: uppercase;
    font-size: 65px;
    letter-spacing: 6px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

main{
   display: flex;
   flex-direction: column; 
}

.animal-general{
    display: flex;
    justify-content: center;
    height: calc(610px - 200px);
    margin-top: 20px;
   
}

.animal-detailed{
    border: 1px solid #30525b;
    margin-right: 10px;
    width: 325px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px;
    border-radius: 5px;
    font-family: 'Ubuntu', sans-serif;
}

.animal-detailed .back-image{
    width: inherit;
    height: 370px;
    border-radius: 5px;
    position: absolute;
    background-image: url(/assets/images/CondHerdeirasÍndioGiganteMarcaDagua.png);
    z-index: -1;
    opacity: 0.3;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.animal-detailed-inf{
    background-color: #30525b;
    width: 90%;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 17px;
    padding: 2px 0px;
    font-weight: 700;
    border-radius: 2px;
}

.animal-detailed-inf-tittle{
    background-color: #30525b;
    width: 90%;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    padding: 2px 0px;
    font-weight: 700;
    border-radius: 3px
}

.animal-detailed-res{
    color: #30525b;
    font-weight: 700;
    font-size: 16px;
}

.animal-information{
    border: 1px solid #30525b;
    width: 325px;
    margin-left: 20px;
    border-radius: 5px;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.animal-name{
    margin-top: 15px;
    text-transform: uppercase;
    color: white;
    background-color: #30525b;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    font-size: 21px;
    border-radius: 3px;
}
.animal-information .animal-image{
    width: 85%;
    background-color: #30525b;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    border-radius: 5px;
}

.animal-information .animal-image img{
    width: 82%;
    height: 94%;
    border-radius: 15px;
}


.family-tree{
    display: flex;
    align-items: center;
    flex-direction: column;
}


.family-tree .tittle{
    height: 47px;
    margin-top: 35px;
    width: 40%;
    padding: 5px;
}

.family-tree .tittle h2{
    text-transform: uppercase;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 34px;
    letter-spacing: 2px;
    font-weight: 700;
}

.body-arvore{
    height: 600px;
    width: 924px;
    margin-top: 0px;
    display: flex;
}

#back{
    position: absolute;
    width: inherit;
    height: inherit;
    z-index: -2;
    opacity: 0.3;
    background-image: url(/assets/images/CondHerdeirasÍndioGiganteMarcaDagua.png);
    background-repeat: no-repeat;
    
}

#wrapper{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: -120px;
    margin-top: 37px;
}

.body-arvore .image-area{
    width: 220px;
    height: 290px;
    background-color: #30525b;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.body-arvore .image-area img{
    width: 95%;
    height: 95%;
    border-radius: 20px;
}

#wrapper .branch{
    position: relative;
    left: 30px;
    margin-left: 166px;
}

#wrapper .branch:last-child{
    padding-top: 7px
}

#wrapper .entry{
    position: relative;
    top: 0px;
    min-height: 30px;
}

#wrapper .label {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 158px;
    max-width: 158px;
    line-height: 12px;
    text-align: center;
    border-radius: 3px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -13.5px;
    font-size: 17px;
    min-height: 20px;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    padding: 7px 0px;
    
}

#wrapper .masc{
    background-color: #0566C6;
}

#wrapper .masc.a1:before{
    content: "";
    width: 2px;
    height: 120px;
    background-color: #0566C6;
    position: absolute;
    margin-left: -235px;
    rotate: 55deg;
    margin-top: 60px;
    z-index: -1;
}

#wrapper .masc.a2::before{
    content: "";
    width: 2px;
    height: 95px;
    background-color: #0566C6;
    position: absolute;
    margin-left: -195px;
    rotate: 35deg;
    margin-top: 60px;
    z-index: -1;
}

#wrapper .masc.a3::before{
    content: "";
    width: 2px;
    height: 70px;
    background-color: #0566C6;
    position: absolute;
    margin-left: -195px;
    rotate: 55deg;
    margin-top: 20px;
    z-index: -1;
}

#wrapper .masc.a4::before{
    content: "";
    width: 2px;
    height: 50px;
    background-color: #0566C6;
    position: absolute;
    margin-left: -195px;
    rotate: 70deg;
    margin-top: 10px;
    z-index: -1;
}


#wrapper .fem.a1:before{
    content: "";
    width: 2px;
    height: 120px;
    background-color: #FF3771;
    position: absolute;
    margin-left: -235px;
    rotate: -55deg;
    margin-top: -60px;
    z-index: -1;
}

#wrapper .fem.a2::before{
    content: "";
    width: 2px;
    height: 100px;
    background-color: #FF3771;
    position: absolute;
    margin-left: -195px;
    rotate: -35deg;
    margin-top: -60px;
    z-index: -1;
}

#wrapper .fem.a3::before{
    content: "";
    width: 2px;
    height: 70px;
    background-color: #FF3771;
    position: absolute;
    margin-left: -195px;
    rotate: -55deg;
    margin-top: -20px;
    z-index: -1;
}

#wrapper .fem.a4:before{
    content: "";
    width: 2px;
    height: 50px;
    background-color: #FF3771;
    position: absolute;
    margin-left: -195px;
    rotate: -70deg;
    margin-top: -10px;
    z-index: -1;
}

#wrapper .fem{
    background-color: #FF3771;
}

.a1,.a2,.a3,.a4{
    margin-left: -120px;
}

#wrapper .masc.a1::after,.masc.a2::after,.masc.a3::after,
.fem.a1::after,.fem.a2::after,.fem.a3::after{
    content: "117cm";
    margin-top: 45px;
    color: #30525b;
    position: absolute;
    font-size: 16px;
    font-weight: 700;
    z-index: 1;
}

#wrapper .masc.a4::after,.fem.a4::after{
    content: "114cm";
    color: #30525b;
    position: absolute;
    font-size: 13px;
    font-weight: 700;
    z-index: 1;
    margin-left: 220px;
}








